<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Your Buddy | JoeSoft</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Your buddy was added!</h1>
<p th:text="'id: ' + ${buddyInfo.id}" />
<p th:text="'Name: ' + ${buddyInfo.name}" />
<p th:text="'Phone Number: ' + ${buddyInfo.phoneNumber}" />
<p>Create a new buddy <a href="/addbuddy">here</a></p>
<p>View your book <a href="/viewbook">here</a></p>
<p>Remove a buddy <a href="/removebuddy">here</a></p>
</body>
</html>