<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Remove a new buddy | JoeSoft</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Buddy Removal Form</h1>
<form action="#" th:action="@{/removebuddy}" method="post">
    <p>Name: <input type="text" name="removalname" /></p>
    <p><input type="submit" value="Submit Removal Request"/></p>
</form>
<p>Create a new buddy <a href="/addbuddy">here</a></p>
<p>View your book <a href="/viewbook">here</a></p>
</body>
</html>